<div class="col-md-6 col-md-offset-6">
  <div class="row">
    <div class="panel-heading">
      <ul class="pricing-table">
        <li class="title">My Account</li>
        <li class="price"><%= @user.first_name %> <%= @user.last_name %></li>
        <li class="bullet-item"><%= @user.email %></li>
        <li class="bullet-item"><%= avatar(300) %></li>
        <li class="bullet-item"><%= image_tag(@user.avatar.url, alt: @user.avatar.url) %></li>
        <% @sites.each do |site| %>
        <li class="bullet-item"><%= link_to site.name, site_path(site) %></li>
          <% end %>
        <li class="cta-button"><%= link_to 'Edit My Account', edit_user_registration_path, class: 'button round' %></li>
      </ul>
    </div>
  </div>
</div>
