<h1>Sites</h1>

<table class="sites">
  <thead>
    <tr>
      <th width="100">Name</th>
      <th width="100">Address</th>
      <th width="100">Phone</th>
      <th width="100">Cost Rating</th>
    </tr>
  </thead>
  <tbody>
    <% if @sites.present? %>
    <% @sites.each do |site| %>
    <tr>
      <td><%= link_to site.name, site_path(site) %></td>
      <td>
        <p>
          <%= site.address %>
          <br>
          <%= site.city %>, <%= site.state %> <%= site.zip %>
        </p>
      </td>
      <td><%= site.phone %></td>
      <td><%= site.cost_rating %></td>
    </tr>
    <% end %>
    <% else %>
    <p>No results found</p>
    <% end %>
  </tbody>
</table>
<% if user_signed_in? %>
<%= link_to "Create new site", new_site_path %>
<% end %>

<%= paginate @sites %>
